@container (max-width: 120px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-120 {
    display: none;
  }
}
@container (max-width: 240px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-240 {
    display: none;
  }
}
@container (max-width: 360px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-360 {
    display: none;
  }
}
@container (max-width: 480px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-480 {
    display: none;
  }
}
@container (max-width: 600px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-600 {
    display: none;
  }
}
@container (max-width: 720px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-720 {
    display: none;
  }
}
@container (max-width: 840px) {
  .table-727ecdec-b2ec-45fc-b154-cf268cce03d5-column-840 {
    display: none;
  }
}
